.cards_spells {
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 auto;
   padding: 0;
}
.spells_height {
   display: flex;
   flex-direction: column;
   height: 200px;
   justify-content: center;
}
@media (min-width: 500px){
   .cards_spells{
      display: grid;
      grid-template-columns: 250px 250px;
   }
}
@media (min-width: 768px){
   .cards_spells{
      display: grid;
      grid-template-columns: 250px 250px 250px;
   }
}
@media (min-width: 1024px){
   .cards_spells{
      display: grid;
      grid-template-columns: 250px 250px 250px 250px;
      justify-content: center;
      width: 85vw;
   }
}

@media (min-width: 1400px){
   .cards_spells{
      display: grid;
      grid-template-columns: 280px 280px 280px 280px 280px;
   }
}