.div_loader {
   align-items: center;
   display: flex;
   justify-content: center;
   height: 200px;
   position: fixed;
   left: 0px;
   width: 100%;
}
.loader {
   align-items: center;
   background: white;
   border-radius: 18px;
   border: none;
   color: rgb(0, 0, 0);
   display: flex;
   justify-content: center;
   height: 50px;
   width: 120px;
}