.div_loader {
   display: flex;
   justify-content: center;
   height: 300px;
   width: 100%;
   align-items: center;
}
.loader {
   align-items: center;
   background: white;
   border-radius: 18px;
   border: none;
   color: rgb(0, 0, 0);
   display: flex;
   justify-content: center;
   height: 50px;
   width: 120px;
}