.div_loader {
   align-items: center;
   display: flex;
   justify-content: center;
   height: 200px;
   position: fixed;
   left: 0px;
   top: 40vh;
   width: 100%;
}
.loader {
   align-items: center;
   background: white;
   border-radius: 18px;
   border: 2px solid rgba(0, 162, 255, 0.795);
   box-shadow: 1px 1px 49px #00adff;
   color: rgb(0, 0, 0);
   display: flex;
   justify-content: center;
   height: 50px;
   width: 150px;
}