html, body, #root {
   align-items: center;
   display: flex;
   flex-direction: column;
   height: 100%;
   margin: 0 auto;
   padding: 0;
   text-align: center;
   width: 100%;
}
body {
   background: url("../src/img/bg.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: right 20px;
   color: white;
}
#root {
   background: linear-gradient(180deg, rgb(0 0 0 / 35%)45%, rgb(3 177 244 / 62%)145%);
}


/* font-family: 'Orbitron', sans-serif;
font-family: 'Roboto', sans-serif; */
